body * {
	box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html, body {
	height: 100%;
}

html {
  background: linear-gradient(
  rgba(20,20,20, .5), 
  rgba(20,20,20, .5)),
    url("https://wallpaperplay.com/walls/full/7/6/5/81879.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#start-page {
	height: 50%;
  width: 40%;
}

h1, h2 {
	color: white;
}

#intro {
  font-size: 5vmin;
  display:block;
  text-align:left;
  height:40%;
  width:30%;
  position:absolute;
  top: 33%;
  left: 10%;
  line-height: 60px;
  letter-spacing:4px;
  }

button {
  display:block;
  line-height:5px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 4vmin;
  height: 120px;
  width: 250px;
  text-align:center;
  margin-top:0px;
  padding:15px;
  border:1px solid gray;
  border-radius: 5px;
  background-color: chocolate;
}

#js-engage-button {
  margin-top:60px;
}

button:hover {
	background-color: midnightblue;
	cursor: pointer;
}

#question-page {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  color:white;
}

.question {
  height: 50%;
  width: 32%;
  line-height: 55px;
  letter-spacing:3px;
  position:absolute;
  top:30%;
  left:8%;
	color: white;
  font-size:4vmin;
}

.options {
	display: flex;
  flex-direction:column;
  position:absolute;
  left: 66%;
  top:35%;
  bottom:25%;
	border: none;
  color:white;
  font-size: 2.9vmin;
}

label {
	margin-bottom: 16px;
  size:100%;
}

#js-submit-button {
  position:absolute;
  bottom:30%;
  left:40%;
  border-radius: 5%;
  width:180px;
}

#progress {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  font-size:3.5vmin;
  position:absolute;
  text-align:center;
  left:41%;
  bottom:10%;
}

.analysis {
  height:25%;
  width:30%;
  position:absolute;
  top:35%;
  left:10%;
  font-size:4vmin;
}

#js-next-button {
  position:absolute;
  bottom:30%;
  left:20%;
  border-radius: 5%;
  width:180px;
}

#js-restart-button {
  border-radius: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
  bottom:30%;
  font-size:3vmin;
  left:15%;
  line-height:20px;
  height:80px;
}


label {
	margin-bottom: 28px;
}

#yesFeedbackImg {
  display: block;
  position:absolute;
  top:35%;
  width: 100%;
  height:auto;
  }

#noFeedbackImg {
  display: block;
  position:absolute;
  top:35%;
  width: 100%;
  height:auto;
  }

#negative {
	width: 99%;
  font-size:4vmin;
  position:absolute;
  top:21%;
  text-align:center;
	margin-bottom: 15px;
  background:black;
  padding:10px;
}

#affirmative {
	width: 99%;
  font-size:4vmin;
  position:absolute;
  top:23%;
  text-align:center;
	margin-bottom: 10px;
  background:black;
  padding:10px;
}

form {
  display:flex;
  flex-direction:column;
  height: 60%;
  width:30%;
}

@media only screen and (min-width: 600px) {

  button {
    height:50px;
    width:200px;
    font-size:4vmin;
  }

  #noFeedbackImg {
    top:40%;
    width: 40%;
    height:auto;
    position:absolute;
    left:30%;
  }

  #yesFeedbackImg {
    top:40%;
    width: 40%;
    height:auto;
    position:absolute;
    left:30%;
  }

  #js-next-button {
    position:absolute;
    bottom:15%;
    left:42%;
    border-radius: 5%;
    width:180px;
  }

  #negative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

  #affirmative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

  
}

@media only screen and (min-width: 1000px) {

  button {
    height:70px;
    width:280px;
    font-size:5vmin;
  }

  #js-submit-button {
    width:280px;
    height:70px;
    font-size:5vmin;
    left:38%;
  }

  #noFeedbackImg {
    top:35%;
    width: 30%;
    height:auto;
    position:absolute;
    left:35%;
  }

  #yesFeedbackImg {
    top:35%;
    width: 30%;
    height:auto;
    position:absolute;
    left:35%;
  }

  #js-next-button {
    position:absolute;
    bottom:10%;
    left:42%;
    border-radius: 5%;
    width:180px;
  }

  #negative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
}

  #affirmative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

}