body * {
	box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html, body {
	height: 100%;
}

html {
  background: linear-gradient(
  rgba(20,20,20, .5), 
  rgba(20,20,20, .5)),
    url("p6fjmk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#start-page {
	height: 50%;
  width: 40%;
}

h1, h2 {
	color: white;
}

#intro {
  font-size: 7vmin;
  display:block;
  text-align:left;
  height:40%;
  width:60%;
  position:absolute;
  top: 38%;
  left: 25%;
  line-height: 100px;
  letter-spacing:5px;
  }

button {
  display:block;
  line-height:5px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 5vmin;
  height: 120px;
  width: 250px;
  text-align:center;
  margin-top:15px;
  padding:15px;
  border:1px solid gray;
  border-radius: 5px;
  background-color: rgb(57, 53, 50);
}

#js-engage-button {
  margin-top:60px;
}

button:hover {
	background-color: midnightblue;
	cursor: pointer;
}

#question-page {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  color:white;
}

.question {
  height: 100%;
  width: 50%;
  line-height: 55px;
  letter-spacing:3px;
  position:absolute;
  top:30px;
  left:22%;
	color: white;
  font-size:5.5vmin;
}

.options {
	display: flex;
  flex-direction:column;
  letter-spacing:2px;
  position:absolute;
  left: 20%;
  right: 20%;
  top:35%;
  bottom:15%;
	border: none;
  color:white;
  font-size: 4vmin;
}

label {
	margin-bottom: 16px;
  size:100%;
}

#js-submit-button {
  position:absolute;
  bottom:10%;
  left:40%;
  border-radius: 5%;
  width:380px;
}

#progress {
  display:flex;
  color: rgb(17, 8, 55);
  flex-direction:column;
  justify-content:space-between;
  font-size:2.5vmin;
  position:absolute;
  text-align:right;
  left:2px;
  bottom:5%;
}

.analysis {
  height:25%;
  width:30%;
  position:absolute;
  top:35%;
  left:20%;
  font-size:4vmin;
}

#js-next-button {
  position:absolute;
  bottom:30%;
  left:20%;
  border-radius: 5%;
  width:180px;
}

#js-restart-button {
  border-radius: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
  bottom:30%;
  font-size:3vmin;
  left:20%;
  line-height:20px;
  height:80px;
}


label {
	margin-bottom: 28px;
}

#yesFeedbackImg {
  display: block;
  position:absolute;
  top:55%;
  width: 100%;
  height:auto;
  }

#noFeedbackImg {
  display: block;
  position:absolute;
  top:55%;
  width: 100%;
  height:auto;
  }

#negative {
	width: 99%;
  font-size:6vmin;
  position:absolute;
  top:41%;
  text-align:center;
	margin-bottom: 15px;
  background:black;
  padding:10px;
}

#affirmative {
	width: 99%;
  font-size:6vmin;
  position:absolute;
  top:41%;
  text-align:center;
	margin-bottom: 10px;
  background:black;
  padding:10px;
}

form {
  display:flex;
  flex-direction:column;
  height: 60%;
  width:30%;
}

@media only screen and (min-width: 600px) {

  button {
    height:110px;
    width:400px;
    font: size 6vmin;
  }

  .question {
    height: 90%;
    width: 53%;
    font-size:4.5vmin;
  }

  #js-submit-button {
    position:absolute;
    bottom:7%;
    left:40%;
    border-radius: 5%;
    width:380px;
  }

  #noFeedbackImg {
    top:50%;
    left:20%;
    width: 60%;
    height:auto;
    position:absolute;
  }

  #yesFeedbackImg {
    top:50%;    
    left:20%;
    width: 60%;
    height:auto;
    position:absolute;
  }

  #js-next-button {
    position:absolute;
    bottom:7%;
    left:42%;
    border-radius: 5%;
    width:180px;
  }

  #negative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:38%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

  #affirmative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:38%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

  
}

@media only screen and (min-width: 1000px) {

  button {
    height:70px;
    width:280px;
    font-size:5vmin;
  }

  .options {
    display: flex;
    flex-direction:column;
    letter-spacing:2px;
    position:absolute;
    left: 20%;
    right: 40%;
    top:35%;
    bottom:15%;
    border: none;
    color:white;
    font-size: 4vmin;
  }

  #js-submit-button {
    width:280px;
    height:70px;
    font-size:5vmin;
    bottom:40%;
    left:60%;
  }

  #noFeedbackImg {
    top:35%;
    width: 30%;
    height:auto;
    position:absolute;
    left:35%;
  }

  #yesFeedbackImg {
    top:35%;
    width: 30%;
    height:auto;
    position:absolute;
    left:35%;
  }

  #js-next-button {
    position:absolute;
    bottom:10%;
    left:42%;
    border-radius: 5%;
    width:180px;
  }

  #negative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
}

  #affirmative {
    width: 100%;
    font-size:4vmin;
    position:absolute;
    top:18%;
    text-align:center;
    margin-bottom: 15px;
    padding:10px;
  }

  #progress {
    left:10px;
    bottom:5%;
  }

}